@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}
.cadastro-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.cadastro-header {
    text-align: center;
    margin: 20px 0 40px 0;
}
.cadastro-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder {
    font-weight: 500;
    color: #222;
}
.input-field:focus {
    width: 105%;
}
.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check {
    margin-right: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section a {
    color: #555;
}
.input-submit {
    position: relative;
}
.submit-btn {
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}
.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a {
    color: #000;
    font-weight: 600;
}
.language-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: .3s; 
    color: #fff; 
    font-size: 30px; 
    font-weight: 600; 
    font-family: 'Poppins', sans-serif; 
    text-align: center; 
}

.language-btn:hover {
    background: #000; 
    transform: scale(1.05, 1);
}

.cadastro-box .btn-redes button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    font-size: 24px;
    cursor: pointer;
    color: #222;
    margin: 0 4px;
    transition: .2s;
    margin-left: 52px;
    margin-top: 20px;
}

.cadastro-box .btn-redes button:hover{
    transform: scale(1.05, 1);
    box-shadow: 0 0 5px #333;
}

/*STYLE CHATBOT */
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente escondido */
    flex-direction: column;
}
  
#open-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Alterado para o lado direito */
    background: #E78B55;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

#open-chatbot:hover {
    color: #333;
    background-color: #ec742e;
    transition: 0.3s;
    box-shadow: 0 0 8px #E78B55;
}
  
  
#chatbot-header {
    background: #E78B55;
    color: #000;
    font-weight: 800;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

#chatbot-header button{
    border-radius: 50%;
    border: none;
    width: 13px;
    height: 13px;
    cursor: pointer;
    color: #fff;
    background-color: #000000;
    font-size: 8px;
    font-weight: 500;
}
  
#chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222;
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    line-height: 1.5;
}

.bot-message {
    align-self: flex-start;
    background-color: #00000093;
    color: #fff;
    font-size: 12px;
}
  
.user-message {
    align-self: flex-end;
    background-color: #00000093;
    color: #fff;
    font-size: 12px;
}
  
#chatbot-input {
    display: flex;
    padding: 10px;
    gap: 10px;
}
  
#chatbot-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
#chatbot-input button {
    background: #E78B55;
    color:#fff;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#chatbot-input button:hover {
    background-color: #ec742e;
    color: #333;
}